.homepage-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}

.movie-list-homepage {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 15px;
}
@media screen  and (max-width:455px) {
    .movie-list-homepage {
        gap: 20px;
    }
}