.whole-page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    height: 100%;
}
.main-page-body {
    height: 100%;
}
.main-page-images img{
    width:25%;
    margin: 10px 5px;
}

.main-page-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main-page-headline {
    text-align: center;
    margin: 10px 5px;
    color: #000;
}

.button-movies{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-movies button{
    background-color: #03071e;
    padding: 3px;
    margin: 6px;
    border: 2px solid black;
    text-decoration: none;
    font-family:'Dongle', sans-serif;
}
.link-text{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}
.styling-buttons:hover{
    color: white;
    background-color: #404040;
    border: 2px solid #000000;
    transition: all 0.3s ease;
}

.signin-para{
    text-align: center;
    margin: 20px 0px 10px 0px;
}


@media screen and (max-width : 770px){
    .main-page-images .background-image-jpg {
        width: 30%;
    }   
    .main-page-images .background-image {
        width: 150px;
    }   
}
@media screen and (max-width : 570px){
    .main-page-images .background-image {
        width: 100px;
    }   
    .main-page-images .background-image-jpg {
        width: 90%;
    }   
}

@media screen and (max-width:460px){
    .main-page-images img {
        width: 250px;
    }
}
@media screen and (max-width : 350px){
    .main-page-images .background-image {
        width: 80px;
    }   
    .main-page-images .background-image-jpg {
        width: 260px;
    }   
}

