.rating-dropdown{
    border-radius: 20px;
    padding: 5px;
    background-color: #404040;
}
.review-div{
    padding: 10px 10px 10px 0px;
}
.rating-reviews-main-div{
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating-div label{
    font-weight: bold;
    color: #000;
    font-family: 'Dongle', sans-serif;}
.review-div label{
    font-weight: bold;
    color: #000;
    font-family: 'Dongle', sans-serif;
}
.review-div textarea{
    background-color: #fff;
    padding: 5px;
    color: #000;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    width: 50%;
    resize: none;
    border: 1px solid #000;
}
.submit-btns-div{
    text-align: center;
    width: 50%;
}
.submit-btns-div button{
    background-color:  rgb(1, 1, 24);
    padding: 2px 8px;
    border: 2px solid white;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}
.submit-btns-div button:hover{
    background-color: #606060;
}


@media screen  and (max-width:600px) {

    .review-div textarea{
        width: 90%;
    }
}