* {
    margin: 0 0;
}
.footer-section {
    background-color: #464033;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.social-media .fas {
    color: #efebe2;
    font-size: 24px;
    margin: 5px 25px;
}
.social-media a{
    color: #efebe2;
}
.social-media a .fas{
    color: #efebe2;
    font-size: 22px;
}
.fab {
    color: #efebe2;
    font-size: 22px;
}
.footer-para {
    color: #efebe2;
    border-top: 1px solid rgba(239,235,226,0.2);
    padding: 5px 0px;
}
@media screen  and (max-width:429px) {
    .footer-para {
        font-size: 12px;
    }
}