.whole-page-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-page-body {
    height: 100%;
}
.main-page-images img {
    width: 400px;
}
.main-page-images {
    display: flex;
    justify-content: center;
}
.main-page-headline {
    text-align: center;
    margin: 0px 5px;
}
@media screen and (max-width:460px){
    .main-page-images img {
        width: 250px;
    }   
}
