.whole-page-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main-page-body {
    height: 100%;
}
.main-page-images .background-image {
    width: 200px;
    margin: 10px 5px;
}
.main-page-images .background-image-jpg {
    width: 90%;
}
.svg-images-main-page {
    display: flex;
    gap: 10px;
}
.main-page-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-page-headline {
    text-align: center;
    margin: 0px 5px;
}

@media screen and (max-width : 980px){
    .main-page-images .background-image-jpg {
        width: 90%;
    }   
}
@media screen and (max-width : 770px){
    .main-page-images .background-image-jpg {
        width: 90%;
    }   
    .main-page-images .background-image {
        width: 150px;
    }   
}
@media screen and (max-width : 570px){
    .main-page-images .background-image {
        width: 100px;
    }   
    .main-page-images .background-image-jpg {
        width: 90%;
    }   
}

@media screen and (max-width:460px){
    .main-page-images img {
        width: 250px;
    }
}
@media screen and (max-width : 350px){
    .main-page-images .background-image {
        width: 80px;
    }   
    .main-page-images .background-image-jpg {
        width: 260px;
    }   
}

